.popup{
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.popup.active{
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup .mask{
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 0, 0, 0.35);
  z-index: -1;
}
.popup .popup-content{
  padding: 15px;
  max-width: 400px;
  margin: 0 auto;
  background: #fff;
  z-index: 1;
}
.popup .popup-content .login-content{
  display: none;
}
.popup .popup-content .login-content.active{
  display: block;
}
.popup .popup-content .signup-content{
  display: none;
}
.popup .popup-content .signup-content.active{
  display: block;
}